<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Index</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  	
    <!-- bower:css -->
  	<!-- endbower -->

    <!-- include: "type": "css", "files": "css/**/*.css" -->
    
  	<!-- bower:js -->
  	<!-- endbower -->
    
    <!-- include: "type": "js", "files": "js/**/*.js" -->
    
  </head>
  <body ng-app="app">
	    <div ui-view></div> 
  </body>
</html>